body { background: #141312; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 37px; display: flex; }
.block-invoice-0 { color: #bae0f9; font-size: 15px; margin-bottom: 5px; }
.block-product-1 { color: #65e71f; font-size: 20px; margin-bottom: 5px; }
.block-sms-2 { color: #9994a2; font-size: 14px; margin-bottom: 5px; }
.block-helper-3 { color: #8ae912; font-size: 12px; margin-bottom: 5px; }
.block-database-4 { color: #2aa48; font-size: 19px; margin-bottom: 5px; }